{{ define "title" }}
tag: {{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<main role="main">
    <ul class="tag__meta">
      <li><h1 class="site__title"><span style="color: #888">articles / </span>{{ .Title }}</h1></li>
      {{- with .OutputFormats.Get "ATOM" }}
      <li><a href="{{ .RelPermalink }}" rel="{{ .Rel }}" type="{{ .MediaType.Type }}">tag feed</a></li>
      {{- end }}
    </ul>
    {{ range .Pages }}
      {{ partial "list/entry.html" . }}
    {{ end }}
	</main>
{{ end }}
